@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

*{
    font-family: "Playfair Display", serif;
    font-weight: 600;
}
#main-container{
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    background: url("../../../public/bg.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rounded-bmi-wrapper{
    padding: 30px;
    background-color: rgb(230, 230, 230);
    width: 300px;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    flex-direction: column;
    letter-spacing: 1px;
    border: solid black 2px;
}
#rounded-bmi-wrapper > *{
    padding: 25px;
}
#weightInput, #heightInput{
    width: 40px;
    font-size: 20px;
    background-color: rgb(181, 181, 176);
    text-align: center;
}
#bmi-div{
    text-align: center;
}
#weight-div, #height-div{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#bmi-button{
    border: solid 1,5px black;
    color: rgb(240, 240, 240);
    background-color: rgb(132, 126, 119);
    margin: 5px 0;
    font-size: 18px;
    width: 50%;
    border-radius: 30px;
    padding: 15px 0;
}